<!-- This is the handlebar for page after login -->

<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="home-container">
    <div class="top-nav">
        <div class="logo">
            <img src="images/logov2.png" alt="QuackMatch logo">
        </div>
        <div class="nav-links">
            <a href="/home" class="btn">Home</a>
            <a href="/profile" class="btn">Edit Profile</a>
            <div class="nav-item-with-badge">
                <a href="/matches" class="btn">View Matches</a>
                <span class="badge {{#if notificationCount}}badge-red{{else}}badge-grey{{/if}}">
                    {{notificationCount}}
                </span>
            </div>
        </div>
    </div>

    <div class="main-content">
        <!-- Left Column -->
        <div class="left-panel">
            <h1>Welcome back, {{user.firstName}}!</h1>
            <h2>Your Perfect Match:</h2>
            {{#if user.matchedUsers.length}}
                <p class="subheading"><br>Your top match is <strong>{{user.matchedUsers.[0].[0].firstName}} {{user.matchedUsers.[0].[0].lastName}}<br>Email: {{user.matchedUsers.[0].[0].email}}</strong></p>
                <img src="{{user.matchedUsers.[0].[0].profilePicPath}}" alt="Profile Picture" class="profile-pic">
            {{else}}
                <p class="subheading">Sorry, you have no matches yet.</p>
            {{/if}}
        </div>

        <!-- Right Column -->
        <div class="right-panel">
            <div class="preferences">
                <h2>Your Top Preferences:</h2>

                {{#each user.preferences.mostImportantPreferences}}
                    <li>
                        {{this}}: {{lookup ../user.preferences this}}
                    </li>
                {{/each}}


                <h2>Your Least Important Preference</h2>
                <p><li>
                {{user.preferences.leastImportantPreferences}}: {{lookup user.preferences user.preferences.leastImportantPreferences}}
                    </li>

                </p>
            </div>
        </div>
    </div>
    <a href="/logout" class="logout-btn">Log Out</a>
    
</div>